.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 5px 10px;
  gap: 5px;
}

.content__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: fit-content;
  font-size: 0.8rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--color-comment);
  width: fit-content;
  min-width: 250px;
  border-radius: 20px;
  padding: 10px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.date {
  font-size: 0.6rem;
}

.userName {
  width: 100%;
}
