@use "./../../styles/_mixins" as mixins;

.bar {
  background-color: white;
  box-shadow: 0px 1px 10px 1px rgb(230, 230, 230);
  height: 60px;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 20000;
  position: fixed;
}

.container {
  pointer-events: none;
}

@include mixins.desktop() {
  .bar {
    top: 0;
    bottom: auto;
  }
}
