@use "../../../styles//_mixins" as mixins;

.input__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  padding: 0.3rem;
  font-size: 1.1rem;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
}

.error {
  color: red;
  font-size: 0.9rem;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.btn {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-btn);
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  &:hover {
    background-color: var(--color-btn-hover);
  }
  &:focus {
    background-color: var(--color-btn-hover);
  }
}

.avatar__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  max-width: 100px;
  background-color: var(--color-bg-dark);
  border-radius: 99999px;
}

@include mixins.desktop() {
  .input {
    font-size: 1rem;
    padding: 0.3rem;
  }
  .btn {
    padding: 0.5rem;
  }
  .header__container {
    font-size: 1.1rem;
  }
}
