.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  background-color: var(--color-primary);
  border-radius: var(--radius-page);
}
