.container {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(fit-content, 1fr));
  height: 100%;
  width: 100%;
}

.userInfo__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: fit-content;

  border-bottom: 1px solid var(--color-border);
  padding: 10px 10px 0px 10px;
}

.postContent__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 10px;
  height: 100%;
  min-height: 200px;
  border-bottom: 1px solid var(--color-border);
  padding: 10px;
}

.actions__container {
  padding: 10px;
}
