@use "../../../styles/_mixins" as mixins;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px 20px 15px 20px;
  background-color: var(--color-primary);
  position: sticky;
  bottom: 2.9rem;
  gap: 5px;
}

.textArea {
  width: 100%;
  border-radius: 10px;
  background-color: var(--color-comment);
  outline: none;
  border: none;
  padding: 10px;
  color: white;
  resize: none;
  min-height: 10vh;
  max-height: none;
  font-size: 0.8rem;
}

.create__btn {
  height: 100%;
  padding: 10px;
  display: flex;
  border-radius: 999px;
  border: solid 1px var(--color-border);
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    background-color: var(--color-hover);
  }
}

@include mixins.desktop() {
  .container {
    bottom: 0;
    flex-direction: row;
  }
}
