.userInfo__component {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;

  .userInfo__avatar {
    max-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .userInfo {
    font-size: 1rem;
  }
}

.actions__component {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.content__component {
  font-size: var(--font-size-big);
  text-align: center;
  width: 100%;
}

.content__component__long {
  font-size: var(--font-size-sm);
  width: 100%;
}
