.userInfo__component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;

  .userInfo__avatar {
    max-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .userInfo__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .userInfo {
    font-size: 1rem;
    &:hover,
    &:active,
    &:focus {
      color: var(--color-text2);
    }
  }
}

.actions__component {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  .like {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-right: 1px solid var(--color-border);
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--color-hover);
      border-radius: 5px;
    }
  }

  .comments {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--color-border);
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
      background-color: var(--color-hover);
      border-radius: 5px;
    }
  }
}

.content__component {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-big);
  text-align: center;
  width: 100%;
  height: 100%;
}

.content__component__long {
  font-size: var(--font-size-sm);
  width: 100%;
}
