.container {
  display: flex;
  align-items: center;
  justify-items: flex-start;
  width: 100%;
  gap: 10px;
  padding: 5px;
  z-index: 2000;
}

.createPost {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: var(--color-bg-light);
  color: var(--color-text2);
  border-radius: 20px;
  padding: 5px;
  padding-left: 10px;

  font-size: 0.9rem;
  cursor: pointer;

  &:hover {
    background-color: var(--color-gray);
  }
  &:focus {
    background-color: var(--color-gray);
  }
}
